.course-info {
  display: flex;
  align-items: center;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}
.course-rating,
.course-duration {
  margin-left: 13px;
}
.course-duration {
  background-color: #ffe4e8;
  border-radius: 50px;
  padding: 3px 10px;
  color: #ff4a60;
}
